<header>
    <nav class="navbar">
        <div class="logo">RAHM.BD</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/Request">Request</a></li>
            <li><a href="/Vaccine">Vaccine</a></li>
            <li><a href="/Tips">Tips</a></li>
            <li><a href="/Account/Register">Signup</a></li>
            <li><a href="/Account/Login">Login</a></li>
        </ul>
    </nav>
</header>
