@{
    Layout = "~/Views/Shared/_Layout.Dashboard.cshtml";
    ViewData["Title"] = "Send SMS";
}

<h2>Send SMS</h2>

<form class="form">
    <label>Choose District:</label>
    <select>
        <option>Dhaka</option>
        <option>Chittagong</option>
    </select>

    <label>Message:</label>
    <textarea></textarea>

    <button type="submit" class="btn">Send SMS</button>
</form>
