@{
    Layout = "~/Views/Shared/_Layout.Dashboard.cshtml";
    ViewData["Title"] = "Upload Content";
}

<h2>Upload Content</h2>

<form class="form">
    <label>Title:</label>
    <input type="text" />

    <label>Category:</label>
    <select>
        <option>Precaution</option>
        <option>Disease Alert</option>
        <option>Vaccine Info</option>
    </select>

    <label>Description:</label>
    <textarea></textarea>

    <button type="submit" class="btn">Upload</button>
</form>
