@{
    Layout = "~/Views/Shared/_Layout.Dashboard.cshtml";
    ViewData["Title"] = "View Users";
}

<h2>All Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>1</td><td>Alim Bin Yeasin</td><td>alim@example.com</td><td>+8801234</td></tr>
        <tr><td>2</td><td>Admin</td><td>admin@example.com</td><td>+8805678</td></tr>
    </tbody>
</table>
